spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/garage
    username: postgres
    password: 5047

  cache:
    type: caffeine
    cache-names:
      - users
      - allUsers
      - mechanics
      - allMechanics
      - mechanicsByGarage
      - mechanicsByUser
      - mechanicsByNationalId
      - garages
      - allGarages
      - garageById
      - garageByName
      - garageByUser
      - carOwners
      - allCarOwners
      - carOwnerByUser
      - carOwnerByUniqueId
      - allAutomobiles
      - autoMobileMakes
      - autoMobileYears
      - autoMobileEngineTypes
      - autoMobileTransmissions
      - allServiceCategories
      - serviceCategoryByName
      - allSeverityCategories
      - severityCategoryByName
      - allServiceRequests
      - requestsByGarage
      - requestsByCarOwner
      - requestById
      - allServices
      - servicesByGarage
      - serviceById
      - paymentById
      - paymentsByOwner
      - paymentsByService
      - allAssignments
      - assignmentsByMechanic
      - assignmentsByRequest
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=10m

  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: 51c2c6a995c556
    password: 2780c1bfbb46ad
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  flyway:
    enabled: false

  servlet:
    multipart:
      enabled: true
      max-file-size: 200MB
      max-request-size: 250MB

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public
        cache.use_second_level_cache: false
        cache.use_query_cache: false
        cache.region.factory_class: org.hibernate.cache.jcache.JCacheRegionFactory
        cache.provider_class: org.ehcache.jsr107.EhcacheCachingProvider

server:
  address: 0.0.0.0
  port: 8083
  ssl:
    enabled: false
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,application/json
    min-response-size: 1024

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

alibaba:
  cloud:
    oss:
      endpoint: https://oss-eu-west-1.aliyuncs.com
      access-key-id: LTAI5tGhV8z2P3ryvU9J6jFq
      access-key-secret: 1dz2p5isdE68CO8duRQRWHtzDsIman
      bucket-name: jagarage

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus


rate-limits:
  user-login:
    capacity: 5
    refill: 5
    refill-period-minutes: 1
  user-register:
    capacity: 5
    refill: 5
    refill-period-minutes: 1
  user-delete-account:
    capacity: 5
    refill: 5
    refill-period-minutes: 1
  user-verify-reset-token:
    capacity: 3
    refill: 3
    refill-period-minutes: 1
  user-confirm:
    capacity: 10
    refill: 10
    refill-period-minutes: 1
  user-update:
    capacity: 10
    refill: 10
    refill-period-minutes: 1
  user-update-password:
    capacity: 10
    refill: 10
    refill-period-minutes: 1
  user-register-mechanic:
    capacity: 10
    refill: 10
    refill-period-minutes: 1
  user-search:
    capacity: 30
    refill: 30
    refill-period-minutes: 1
  default:
    capacity: 50
    refill: 50
    refill-period-minutes: 1
